@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body{
    background-color: black;
    color: white;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
    font-family: "Poller One", sans-serif;
}
main{
    max-width: 90%;
}
button{
    background-color: #64a712;
    color: white;
    padding: 10px;
}
.img01{
    width: 30%;
}